<?xml version='1.0' encoding='UTF-8'?>
<project>
	<actions/>
	<description></description>
	<keepDependencies>false</keepDependencies>
	<properties/>
	<scm class="hudson.scm.NullSCM"/>
	<canRoam>true</canRoam>
	<disabled>false</disabled>
	<blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
	<blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
	<triggers class="vector"/>
	<concurrentBuild>false</concurrentBuild>
	<builders>
		<hudson.plugins.phing.PhingBuilder>
			<buildFile>jenkins/build.xml</buildFile>
			<properties>pmdformat=xml</properties>
			<useModuleRoot>false</useModuleRoot>
		</hudson.plugins.phing.PhingBuilder>
	</builders>
	<publishers>
		<hudson.tasks.junit.JUnitResultArchiver>
			<testResults>jenkins/phpunit.xml</testResults>
			<keepLongStdio>false</keepLongStdio>
			<testDataPublishers/>
		</hudson.tasks.junit.JUnitResultArchiver>
		<org.jenkinsci.plugins.cloverphp.CloverPublisher>
			<publishHtmlReport>true</publishHtmlReport>
			<reportDir>jenkins/clover</reportDir>
			<xmlLocation>jenkins/clover/clover.xml</xmlLocation>
			<disableArchiving>false</disableArchiving>
			<healthyTarget>
				<methodCoverage>70</methodCoverage>
				<statementCoverage>80</statementCoverage>
			</healthyTarget>
			<unhealthyTarget/>
			<failingTarget/>
		</org.jenkinsci.plugins.cloverphp.CloverPublisher>
		<hudson.plugins.pmd.PmdPublisher>
			<healthy></healthy>
			<unHealthy></unHealthy>
			<thresholdLimit>low</thresholdLimit>
			<pluginName>[PMD]</pluginName>
			<defaultEncoding></defaultEncoding>
			<canRunOnFailed>false</canRunOnFailed>
			<useDeltaValues>false</useDeltaValues>
			<thresholds>
				<unstableTotalAll></unstableTotalAll>
				<unstableTotalHigh></unstableTotalHigh>
				<unstableTotalNormal></unstableTotalNormal>
				<unstableTotalLow></unstableTotalLow>
				<unstableNewAll></unstableNewAll>
				<unstableNewHigh></unstableNewHigh>
				<unstableNewNormal></unstableNewNormal>
				<unstableNewLow></unstableNewLow>
				<failedTotalAll></failedTotalAll>
				<failedTotalHigh></failedTotalHigh>
				<failedTotalNormal></failedTotalNormal>
				<failedTotalLow></failedTotalLow>
				<failedNewAll></failedNewAll>
				<failedNewHigh></failedNewHigh>
				<failedNewNormal></failedNewNormal>
				<failedNewLow></failedNewLow>
			</thresholds>
			<shouldDetectModules>false</shouldDetectModules>
			<dontComputeNew>false</dontComputeNew>
			<pattern>jenkins/pmd*.xml</pattern>
		</hudson.plugins.pmd.PmdPublisher>
		<hudson.plugins.dry.DryPublisher>
			<healthy></healthy>
			<unHealthy></unHealthy>
			<thresholdLimit>low</thresholdLimit>
			<pluginName>[DRY]</pluginName>
			<defaultEncoding></defaultEncoding>
			<canRunOnFailed>false</canRunOnFailed>
			<useDeltaValues>false</useDeltaValues>
			<thresholds>
				<unstableTotalAll></unstableTotalAll>
				<unstableTotalHigh></unstableTotalHigh>
				<unstableTotalNormal></unstableTotalNormal>
				<unstableTotalLow></unstableTotalLow>
				<unstableNewAll></unstableNewAll>
				<unstableNewHigh></unstableNewHigh>
				<unstableNewNormal></unstableNewNormal>
				<unstableNewLow></unstableNewLow>
				<failedTotalAll></failedTotalAll>
				<failedTotalHigh></failedTotalHigh>
				<failedTotalNormal></failedTotalNormal>
				<failedTotalLow></failedTotalLow>
				<failedNewAll></failedNewAll>
				<failedNewHigh></failedNewHigh>
				<failedNewNormal></failedNewNormal>
				<failedNewLow></failedNewLow>
			</thresholds>
			<shouldDetectModules>false</shouldDetectModules>
			<dontComputeNew>false</dontComputeNew>
			<pattern>jenkins/cpd*.xml</pattern>
			<highThreshold>20</highThreshold>
			<normalThreshold>10</normalThreshold>
		</hudson.plugins.dry.DryPublisher>
		<hudson.tasks.JavadocArchiver>
			<javadocDir>jenkins/phpdoc</javadocDir>
			<keepAll>false</keepAll>
		</hudson.tasks.JavadocArchiver>
	</publishers>
	<buildWrappers/>
</project>